body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: white;
  overflow: hidden;
}

.app {
  position: relative;
  z-index: 1;
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
}

.grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  z-index: 1;
}

.value {
  font-size: 32px;
  margin-top: 10px;
  color: #38bdf8;
}

.status {
  margin: 10px 0;
  font-size: 18px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background: #0ea5e9;
}